body {
  margin: 0;
}

body  li {
    list-style: none;
}

.contact-box li {
  color: white;
  text-align: center;
}

.contact-box {
  position: fixed;

}

.contact-box {
    right: 6px;
    background-color: black;
    opacity: 0.6;
    padding: 2%;
    top: 75px;
}

.contact-box {
height:65 px;
width:151px;
border:8px black;
padding:2%
right: 6px;
}

.flex-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
    position: fixed;
}


ul {
    background: black;
    list-style-type: none;
    opacity: 0.7;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-left: -40px;
}


.main{
  background-image: url('./Images/IMG_1901-1.jpg');*/
  opacity: 0.7;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50%;
  color: white;
  width: 107%;
}


.main h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 4em;
  margin: -3%;
  font-style: normal;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

p {
    font-size: 20px;
}

b {
    font-size: 1em;
}

.about {
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
  padding: 1rem;
}

.skills-img {
  margin: 10px;
  height: 50px;
  width: 50px;
}

.flex-container{
  height: auto;
  display: flex;
  flex-flow: column;
  padding-bottom: 0%;
  justify-content: space-between;
}

.work {
  margin: 0;
  padding-top: 0;
}

h2#title {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 3em;
  text-align: center;
  margin: 10px;
}


img.votersim, img.repl-img, img.vgeo, img.webvee,  {
    width: 40%;
}

img.TUTRD  {
  width: 50%;
}

img.PAID {
  width: 56%;
}

#rps {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  color: black;
}

#voter {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  color: black;
}

#vgeo {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  color: black;
}

#webvee {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  color: black;
}

h2#TUTRD {
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    color: black;
}

h2#paid {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  color: black;
}

.skills {
  height:50px;
  width: 50px;
}

.footer {
  background-color: #d7d7d7;
  padding-top: 0.1%;
  padding-bottom: 0.5%;
  margin-top: 2rem;
  width: 107%;
}

#icons {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
}

img.icons-img {
  margin: 15px;
  height: 50px;
  width: 50px;

}

.footer h2 {
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
  padding-bottom: 0%;
}

.footer p {
  font-family: Myriad Pro, serif;
  text-align: center;
}

img.phone-img {
    height: 20px;
}




/*Media Query*/

@media screen and (min-width: 440px) {

  img.repl-img {
    width: 80vw;
  }

  img.votersim {
    width: 80vw;
}

  img.vgeo {
    width: 80vw;
  }

  img.webvee {
      width: 80vw;
  }

  .flex-container{
    margin: 0 50px;
  }
}


@media screen and (min-width: 728px) {

  .flex-container {

  flex-flow: row;
  text-align: center;

  }

  .work {
    flex: 1 0 50%;
  }

  img.repl-img {
    width: 50%;

  }

  img.votersim {
    width: 50%;
  }

  img.vgeo {
    width: 50%;
  }

  img.webvee {
      width: 50%;
  }

}
